.landpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: relative;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: top;
}
.landpage-content-wrapper{
  position: relative;

}

.landpage-content-wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 40px; */
    margin: auto;
}
.landpage-text-container{
    width: 45%;
    text-align: left;
    padding-left: 20px;
}
.landpage-text-container h1{
    color:white;
    font-size: 2.5rem;
}
.landpage-text-container p{
    color: var(--mild-color);
    margin-top: 20px;
}
.landpage-img-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.landpage-img-container .phone{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  @media (max-width: 990px) and (min-width: 768px){

    .landpage{
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1540' height='2000' preserveAspectRatio='none' viewBox='0 0 1540 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3cpath d='M1382.641%2c1514.759C1485.71%2c1519.591%2c1586.78%2c1473.164%2c1640.783%2c1385.242C1697.286%2c1293.251%2c1698.222%2c1178.576%2c1647.747%2c1083.144C1593.656%2c980.876%2c1498.212%2c891.881%2c1382.641%2c897.181C1272.881%2c902.215%2c1203.376%2c1006.273%2c1156.552%2c1105.671C1117.382%2c1188.821%2c1118.814%2c1282.409%2c1163.274%2c1362.855C1209.385%2c1446.289%2c1287.418%2c1510.295%2c1382.641%2c1514.759' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1336.3906048297242 993.8215714470248L1137.3157731313802 1207.3031919137586 1350.7973935981142 1406.3780236121027 1549.872225296458 1192.8964031453688z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M500.4315666301046 634.7152128185954L336.6505240000672 852.0599973203782 553.99530850185 1015.8410399504155 717.7763511318874 798.4962554486328z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1214.59 1204.05 a317.1 317.1 0 1 0 634.2 0 a317.1 317.1 0 1 0 -634.2 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M378.8481356263027-229.60191552076304L58.53726300729852 102.08970291292553 390.2288814409871 422.40057553192963 710.5397540599913 90.70895709824111z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M990.805%2c1828.789C1104.677%2c1832.492%2c1226.123%2c1804.655%2c1285.773%2c1707.586C1347.695%2c1606.82%2c1331.665%2c1476.946%2c1268.436%2c1376.996C1209.415%2c1283.697%2c1100.934%2c1233.579%2c990.805%2c1241.312C892.346%2c1248.226%2c823.417%2c1326.678%2c773.386%2c1411.759C722.414%2c1498.44%2c680.809%2c1600.257%2c727.296%2c1689.423C776.53%2c1783.858%2c884.362%2c1825.327%2c990.805%2c1828.789' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1540' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }
      .landpage-content-wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px 0px;
      }
      .landpage-text-container{
        text-align: center;
        width: 95%;
        align-self: center;
        padding-left: 0px;
        text-align: left;
      }
      .launch-btn{
        margin: 30px 0px;
        align-self: flex-start;
      }
      .landpage-img-container{
        margin-bottom: 50px;
        width: 100%;
      }
      .floating-container-img3{
        right: 10px;
      }
  }
  @media screen and (max-width: 767px){
    .landpage{
      justify-content: center;
      padding-bottom: 0px;
      background-position: bottom;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1540' height='2000' preserveAspectRatio='none' viewBox='0 0 1540 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3cpath d='M1382.641%2c1514.759C1485.71%2c1519.591%2c1586.78%2c1473.164%2c1640.783%2c1385.242C1697.286%2c1293.251%2c1698.222%2c1178.576%2c1647.747%2c1083.144C1593.656%2c980.876%2c1498.212%2c891.881%2c1382.641%2c897.181C1272.881%2c902.215%2c1203.376%2c1006.273%2c1156.552%2c1105.671C1117.382%2c1188.821%2c1118.814%2c1282.409%2c1163.274%2c1362.855C1209.385%2c1446.289%2c1287.418%2c1510.295%2c1382.641%2c1514.759' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1336.3906048297242 993.8215714470248L1137.3157731313802 1207.3031919137586 1350.7973935981142 1406.3780236121027 1549.872225296458 1192.8964031453688z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M500.4315666301046 634.7152128185954L336.6505240000672 852.0599973203782 553.99530850185 1015.8410399504155 717.7763511318874 798.4962554486328z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1214.59 1204.05 a317.1 317.1 0 1 0 634.2 0 a317.1 317.1 0 1 0 -634.2 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M378.8481356263027-229.60191552076304L58.53726300729852 102.08970291292553 390.2288814409871 422.40057553192963 710.5397540599913 90.70895709824111z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M990.805%2c1828.789C1104.677%2c1832.492%2c1226.123%2c1804.655%2c1285.773%2c1707.586C1347.695%2c1606.82%2c1331.665%2c1476.946%2c1268.436%2c1376.996C1209.415%2c1283.697%2c1100.934%2c1233.579%2c990.805%2c1241.312C892.346%2c1248.226%2c823.417%2c1326.678%2c773.386%2c1411.759C722.414%2c1498.44%2c680.809%2c1600.257%2c727.296%2c1689.423C776.53%2c1783.858%2c884.362%2c1825.327%2c990.805%2c1828.789' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1540' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }
    .landpage-content-wrapper{
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .landpage-text-container{
      text-align: center;
      width: 85%;
      align-self: center;
      padding-left: 0px;
      text-align: left;
      padding-top: 60px;
    }
    .landpage-text-container p{
      margin: 30px 0px;
      line-height: 22px;
    }
    .landpage-text-container h1{
      font-size: 1.6rem;
      color: white;
      width: 100%;
    }
    .launch-btn{
      margin: 40px 0px 0px 0px;
    }
    
    .landpage-img-container{
      width: 100%;
      margin-top: 10px;
    }
  }